version: 2
jobs:
  build:
    working_directory: ~/code
    docker:
      - image: circleci/android:api-25-alpha
    environment:
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum "app/build.gradle" }}
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum "app/build.gradle" }}
      - run:
          name: Run Build
          command: export TERM=${TERM:-dumb} && ./gradlew build --recompile-scripts --refresh-dependencies --parallel --stacktrace
      - store_artifacts:
          path: app/build/outputs/apk/debug/*.apk
          destination: artifact-file
